
body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 18px;
}



img {
  margin: 0 auto;
  width: 100%;
}


.header-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-left: 160px;
  font-weight: bold;

}
  


.home {
  color: #000000;
  text-decoration: none;
  border: solid;
  padding: 10px;
}



.menu{
  font-size: 34px;
  display: flex;
  list-style: none;
  gap: 30px;
  margin-right: 160px;

  li a {
    color: #000000;
    text-decoration: none;
   
  }
}


@media screen and (max-width: 767px){
h2 {
  font-size: 28px;
  padding: 30px 0 20px 0;
}

nav a {
  font-size: 21px;
}
}

#about,#works {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}

.about-inner {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 20px auto;
  
}
.content {
  margin: 0 auto;
  padding: 0 20px;
}

.circle {
  border-radius: 50%;
  width: 280px;
  height: 280px;
}

.name {
  font-size: 24px;
}


.works-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  
}
.item {
  width: 25%;
  margin: 0 10px;

@media screen and (max-width: 767px){ 
    width: 100%;
    text-align: center;
    padding-bottom: 40px;
}
 
}


footer p {
  text-align: center;
  padding: 20px;
}

p,li {
  font-weight: bold;
}



